.txt-group {
position: relative;

}


.txt-group input{
    /* position: absolute; */
    width: 452px;
    height: 60px;
   
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;

    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;

    padding-top: 26px;
    padding-left: 16px;

    color: rgba(0, 0, 0, 0.9);
}

.txt-group input::placeholder {
    color: transparent;
}

.txt-group input:focus + label, 
.txt-group input:not(:placeholder-shown) + label{
    top: 7px;
}

.txt-group label {
    position: absolute;
    left: 16px;
    top: 19px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: rgba(0, 0, 0, 0.5);

    transition: all;
    transition-duration: 0.3s;
}

.txt-group span {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFA00A;
}